.sidebar .author_header
  display: flex !important
  flex-direction: column
  align-items: center
  text-align: center
  grid-template-columns: unset !important
  grid-gap: 0 !important
  img
    width: 150px
    height: 150px
    min-width: 150px
    min-height: 150px
    border-radius: 50%
    object-fit: cover
    margin-bottom: 0.75rem
  h2
    margin-top: 0.5rem
